<h1>Сайт находится в разработке.</h1>
<p>Сайт будет посвещён работе с заказами по всей росии. Мы будем взаимодействовать с почтой России и компанией Деловые линии. Сможем доставить нужный вам товар в любой уголок России.</p>
<p>У нас есть действующий сайт: <%= link_to("antoshkaspb.ru", "http://antoshkaspb.ru") %></p>
