// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #99CCFF;
  text-align: center;
  
  div#body {
	weight: 300px;
	
     #header {
       text-align: center;
       background-color: #FFFFFF;
       /* height: 120px; */
     }

     #menu {
       margin: 5px 10px;
       background-color: #FFFFFF;
       font: {
         family: serif;
         weight: bold;
         size: 24px;
       }

      ul {
        list-style:none;
        list-style-type:none;
      }

      li {
        padding: 2px 10px;
        display:inline;
      }

    }

    #content {
      margin: 5px 10px;
      background-color: #FFFFFF;

      h1 { 
        weight: 100%;
        text-align: center;
      }

      p {
        padding: 20px 10%;
      }

    }
  }
}
