// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #99CCFF;
  text-align: center;
  width: 100%;
  
  div#body {
	padding: 0;
	margin: 0;
	width: 100%;
    height: 100%;
	
     #header {
       text-align: center;
       background-color: #FFFFFF;
       width: 1180px;
       height: 228px;
     }

     #menu {
       margin: 5px 10px;
       background-color: #FFFFFF;
       font: {
         family: serif;
         weight: bold;
         size: 24px;
       }

       ul {
	     text-align: left;
         list-style:none;
         list-style-type:none;
       }

       li {
         padding: 2px 10px;
         display:inline;
       }

       a {
	     text-decoration: none;
	     color: #000000;
       }

       a:hover {
	     color: #FF0000;
       }

       /* Dosen't work */
       a:active {
	     color: #FF0000;
       }

    }

    #content {
      margin: 5px 10px;
      background-color: #FFFFFF;

      h1 { 
        weight: 100%;
        text-align: center;
      }

      p {
	    text-align: left;
        padding: 20px 10%;
      }

    }
  }
}
