// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #99CCFF;
  
  div#body {
	margin-left: auto;
    margin-right: auto;
    width: 74%;
	
     #header {
       text-align: center;

       #logo {
	     float: left;
	     align: middle;
	     
	     img {
	       width: 400px;
	       height: 130px;
	     }
	   }
	   
	   #contacts {
		 width: 100%;
		 text-align: right;
		
	     h1 {
		   color: #F30;
		   font: {
             family: Comic Sans MS;
             weight: bold;
             size: 20px;
           }
	     }
	   }
     }

     #menu {
       font: {
         family: Comic Sans MS;
         weight: bold;
         size: 24px;
       }
	
       ul {
	     text-align: left;
         list-style:none;
       }

       li {
         display:inline;
       }

       a {
	     text-decoration: none;
       }

       a:hover {
	     text-decoration: underline;
       }

       /* Dosen't work */
       a:active {
	     text-decoration: underline;
       }

    }

    #content {
      margin: 1px 0px;
      background-color: #FFFFFF;

      h1 { 
	    padding: 5px;
	    margin: 3px;
        weight: 100%;
        text-align: center;
      }

      p {
	    text-align: left;
        padding: 10px 10%;
      }

    }

    #footer {
	  background-color: #FFFFFF;
	  text-align: center;
    }
  }
}
